[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "==1.2.1"
twine = "==5.1.0"
ddt = "==1.7.2"

[requires]
python_version = "3.11"

[scripts]
test = "python -m unittest -v"
dist = "python -m build"
testpublish = "twine upload --repository testpypi dist/*"
publish = "twine upload dist/*"
code = "code ."